body {
    background-color: black;
    border: 10px white;
    border-style:double ;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-size: 35px;
    background-color: black;
    color:white;
    border: 5px white;
    border-style: double;
    
}
p {
    font-size: 20px;
    color:red;
}

label {
        font-size: 30px;
        color: blue;               
    }

button {
        padding: 5px;
        background-color: black;
        color:white;
    }
input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

#username {
        background-color:aqua;
    }

#password {
        background-color: aqua;
    }

#name{
        background-color: aqua;
    }

#gender{
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        background-color: aqua;
    }

#error{
    color:red;
}

.labelStyle {
        background-color:lightblue;
    }

.forgot:link {
        font-size: 20px;
        color:blue;
        font-style: none;
    }
   
.forgot:hover {
    font-size: 30px;
    color: red;
    background-color: skyblue;
}

.forgot:visited {
    color:purple;
}

.forgot:active {
    color:red;
}

.buttonStyle:link {
    color: blue;
}

.buttonStyle:hover {
    font-size: 20px;
    color:grey;
}

.buttonStyle:visited {
    color:green;
}
.buttonStyle:active {
    color:blue;
}

.register:link {
    font-size: 20px;
    color:white;
    font-style: none;
}

.register:hover {
font-size: 30px;
color: red;
background-color: skyblue;
}

.register:visited {
color:blue;
}

.register:active {
color:red;
}